*{

    margin: 0;
    padding: 0;

}

:root{

    --backgroundcolor: rgba(0, 0, 0, 0.801);

}

body{

    font-family: 'Calibri', sans-serif;
    background-color: var(--backgroundcolor);
    color: white;

}


/*Estilização header*/
.headerWrapper{

    background-image: linear-gradient(to top, #ff6200, #ff8a05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432) ;

    height: 70px;

    display: flex;

}

.headerBox{

    text-align: left;
    
}

#perfil{

    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 500;

    line-height: 70px;

}

#config{

    text-decoration: none;
    color: white;
    font-size: 50px;

    line-height: 70px;

}

#navBox{

    margin: auto;
    text-align: center;
    padding: 15px;

}

img{

    margin: 20px;

}

#imagemPerfil{

    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;

}

#imagemNotificacao{

    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;

}

header a{

    text-decoration: none;
    color: white;
    padding: 10px 30px;;
    padding-bottom: 25px;

}

header a:hover{

    font-weight: bold;

}

#navBox > nav > span > #currentPlace{

    border-bottom: solid 2px white;

}

#navBox > nav > span{

    padding: 12px 0px;
    border-radius: 7px;

}

.optionList{

    width: 100vw;
    background-color: #ff6200;

    text-align: center;
    padding-top: 10px;

    display: none;

}

.setaDiv{

    width: 100vw;
    background-color: #ff6200;

    display: none;
    text-align: center;

}

#setaCima{

    margin-top: 7px;
    cursor: pointer;

}

.optionList span a{

    margin-top: 10px;
    line-height: 30px;
    padding: 0px 10px;

}

/*MEDIA QUERIES*/

@media screen and (max-width: 620px) {
    
    #navBox{
        
        visibility: hidden;

    }

}

@media screen and (max-width:620px) {
    
    .setaDiv{

        display: block;

    }

}


/*Estilização main*/
main{

    max-width: 700px;
    margin: auto;

    padding: 20px;

}

main > h1{


    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

main h2{

    margin-bottom: 10px;
    font-weight: 400;

}

.adition{

    border: solid 4px white;
    border-radius: 15px;

    margin-top: 15px;
    margin-bottom: 15px;

    max-width: 700px;
    height: 150px;

    box-sizing: border-box;

}

.menuSection{
 
    border: solid 3px white;
    border-bottom: hidden;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    margin-top: 15px;
    margin-bottom: 15px;

    max-width: 700px;
    height: 150px;

    text-align: center;
    line-height: 150px;
    font-size: 1.5em;

    background: gray url(../IMAGENS/pexels-quang-nguyen-vinh-2175211.jpg) fixed center center ;
    background-size: cover;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);

    cursor: pointer;

}

.secWrapper h1{

    font-size: 1.5em;

}

.secWrapperClosed h1{

    font-size: 1.5em;

}

.sectionTabelaCardapio h1{

    font-size: 1em;

}

#pratosPrincipais{

    background: rgb(85, 85, 85) url(../IMAGENS/pexels-quang-nguyen-vinh-2175211.jpg) scroll center center ;
    background-size: cover;
    background-blend-mode: soft-light;

}

.adition{

    text-align: center;

}

.adition > a > img{

    display: block;
    height: 100px;
    margin: auto;
    margin-top: 26px;

}

.adition span{

    color: white;
    
    line-height: 154px;
    font-size: 7.5em;

}

.secWrapper{

    margin-top: -25px;

    border: solid white 3px;
    border-top: hidden; 

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 10px;

    text-align: center;

}

.secWrapperClosed{

    margin-top: -25px;

    border: solid white 3px;
    border-top: hidden; 

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 10px;

    text-align: center;

}

.secWrapper > section.sectionTabelaCardapio{

    transition: all 0.5s;

    margin-top: 5px;
    border: solid #ff8a05 2px;
    border-radius: 10px;

}

.secWrapper > section.sectionTabelaCardapioAdition{

    transition: all 0.5s;

    margin-top: 5px;
    border: solid rgb(233, 232, 232) 2px;
    color:rgb(233, 232, 232);

    border-radius: 10px;
    height: 50px;
    padding: 15px;

    cursor: pointer;

}

#addProduct{

    font-size: 2em;
    font-weight: 300;

}

/*ESTILIZAÇÃO DE FOTOS*/
.fotoItem{  
    
    border: solid;
    border-radius: 5px;

    margin: 5px;
    height: 60px;
    width: 80px;

}

#fotoFeijoada{

    background: rgba(75, 61, 61, 0.541) url(../IMAGENS/feijoada-full.jpg) center no-repeat scroll;
    background-size: cover;

}

#fotoStrogonoff{

    background: rgba(75, 61, 61, 0.541) url(../IMAGENS/strogonoff-full.jpg) center no-repeat scroll;
    background-size: cover;

}

#fotoSalada{

    background: rgba(75, 61, 61, 0.541) url(../IMAGENS/salada-full.jpeg) center no-repeat scroll;
    background-size: cover;

}

/* FIM - ESTILIZAÇÃO DE FOTOS*/

#precoItem{

    text-align: center;
    font-size: 1em;

    
    width: 20%;

}

#nomeItem{

    text-align: center;
    width: 80%;

}

#descricaoItem{
    
    vertical-align: text-top;
    font-size: 0.8em;
    text-align: center;
    
    width: 40%;

}

#settingsButton{

    padding-right: 5px;
    padding-top: 5px;

    font-weight: 300;
    cursor: pointer;

}

#deleteButton{

    padding-right: 5px;
    cursor: pointer;

}

.sectionPuller{

    margin-top: 10px;
    background-color: #ff6200;

    border-bottom-left-radius:  5px;
    border-bottom-right-radius:  5px;

    padding: 3px;

    cursor: pointer;

}

.sectionPuller span{

    margin-top: 3px;

}

/*ESTILIZAÇÃO CRIAR SEÇÃO*/

.sectionBox{

    max-width: 700px;

    margin: auto;    

    border-radius: 15px;
    background-color: white;

    padding: 15px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);

}

.sectionBox a{

    text-decoration: none;

}

.sectionBox p{

    color: #ff6200;
    font-size: 1.5em;

    margin-bottom: 10px;

    font-weight: 600;

    text-align: center;

}

.sectionBox input[type = 'text']{

    width: 90%;
    height: 30px;

    display: block;
    margin: auto;

    border-radius: 10px;
    border: solid 2px gray;

    font-size: 1.1em;
    text-align: center;

}

.sectionBox input[type = 'file']{

    display: none;

}

.addSectionBackground{

    height: 150px;
    width: 90%;

    display: block;
    margin: auto;

    border: 2px solid gray;
    border-radius: 10px;

    cursor: pointer;
    text-align: center;

}

.addSectionBackground span{

    color: gray;
    
    line-height: 154px;
    font-size: 4em;

}

.sectionBox input[type = 'submit']{

    transition: all 0.5s;

    display: block;
    margin: auto;
    margin-top: 10px;

    height: 50px;
    width: 150px;

    cursor: pointer;

    border: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);

    background-color: #ff6200;
    color: white;

}

.sectionBox input[type = 'submit']:hover{

    transition: all 0.5s;

    border: solid 3px #ff6200;
    background-color: white;
    color: #ff6200;

    font-weight: 600;

}

/*ESTILIZAÇÃO CRIAR PRODUTO*/

.addProductBackground{

    height: 150px;
    width: 90%;

    margin: auto;

    border: 2px solid gray;
    border-radius: 10px;

    cursor: pointer;
    text-align: center;

}

.addProductBackground span{

    color: gray;
    
    line-height: 154px;
    font-size: 4em;

}

#iproductName{

    width: 90%;

    display: block;
    margin: auto;

}

textarea{

    display: block;
    margin: auto;

    width: 87%;

    border: 2px solid gray;
    border-radius: 10px;

    resize: none;

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

.sectionBox input[type = 'number']{

    width: 70%;
    height: 30px;

    display: block;
    margin: auto;

    border-radius: 10px;
    border: solid 2px gray;

    font-size: 1.1em;
    text-align: center;

}

