*{

    padding: auto 0;
    margin: auto 0;
    box-sizing: border-box;

}

::-ms-reveal{ /* EVITA APARECIMENTO DE OLHO NA SENHA QUANDO UTILIZANDO O EDGE*/
    display: none;
} 

body{

    background-image: linear-gradient(to bottom, #ff5400, #ff8a05);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.outerBox{

    height: 97vh;
    width: 97vw;

    margin: auto;

    display: flex;
}

.loginBox{

    margin: auto;
    text-align: center;

    width: 330px;
    border-radius: 15px;
    background-color: white;
    
}

.logoLogin{
    
    height: 70px;
    margin-top: 40px;

}

.loginBox h1{

    color: #ff5400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;

}

.loginBox input{

    width: 250px;
    margin-top: 10px;
    border: 2px solid #2b2a2ac0;  
    
    transition: all 0.7s

}

.loginBox input[type=text]{
    
    height: 40px;
    border-radius: 10px;

    padding-left: 10px;

}

.loginBox input[type=password]{
    
    height: 40px;
    border-radius: 10px;

    padding-left: 10px;

}

.loginBox input[type=button]{

    color: white;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 45px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #ff6200;
    cursor: pointer;
    transition: 0.5s all;
    
}
.loginBox input[type=button]:hover{ 

    transition: 0.5s all;
    background-color: white;
    color: #ff6200;
    border: 1px solid#2b2a2ac0; 

}

.loginBox .mudarSenha{

    padding-top: 50px;
    width: 15px;
    height: 15px;

}

.link{

    font-size: 15px;
    color: #ff5400;
    text-decoration: none;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;

}

.link:hover{

    cursor: pointer;
    border-bottom: 1px solid #ff5400;

}

.grayLine{

    color: #2b2a2ac0; 

    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.grayText{

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2a2ac0;
   
    margin-bottom: 15px;
}

img.eye {
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-left: 63%;
    margin-top: -9.5%;
    margin-bottom: 7.5%;
    top: -85px;
    height: 22px;
}

.errorText{

    width: 250px;
    display: block;
    margin: auto;

    padding-left: 10px;

    text-align: left;

    font-size: 0.8em;

    color: red;

    display: none;

}



.testBox{

    height: 300px;
    width: 300px;
    border-radius: 15px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    padding: 10px;
    
    background-color: white;

}

.testBox h1{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ff5400;

    margin-top: 20px;

}

.testBox p, a{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ff5400;

    font-weight: 600;
    margin-top: 80px;
    text-decoration: none;

}

#testLink{

    margin-top: 40px;

}

#testLink:hover{

    font-size: 1.05em;

}

#bloco1{

    display: block;

}

#bloco2{

    display: none;

}

.spinner {

    width: 72px;
    height: 72px;

    display: block;

    margin: auto;
    margin-top: 50px;

    border-radius: 50%;
    background: radial-gradient(farthest-side,#ff5400 94%,#0000) top/11.5px 11.5px no-repeat,
           conic-gradient(#0000 30%,#ff5400);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 11.5px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
    
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }

 #close{

    font-size: 130px;
    text-align: center;
    color: #ff5400;

    display: block;
    margin: auto;

    font-weight: bold;

    margin: auto;
    margin-top: 10px;

 }

 /*FIM TESTE LOGIN*/


