*{

    margin: 0;
    padding: 0;

}

:root{

    --backgroundcolor: rgba(0, 0, 0, 0.801);

}

body{

    font-family:'Geologica', sans-serif;;
    background-color: var(--backgroundcolor);
    color: black;

}

h1{

    color: white;
    text-align: center;
    font-size: 1.5em;

}

header{

    background-image: linear-gradient(to top, #ff6200, #ff8a05);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432) ;

}

.headerBox{

    display: inline-block;

}

#navBox{

    display: block;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 15px;

}

img{

    margin: 20px;

}

#imagemPerfil{

    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;

}

#imagemNotificacao{

    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;

}

#navBox > nav > span > a{

    text-decoration: none;
    color: white;
    padding: 10px 30px;;
    padding-bottom: 35px;

}

#navBox > nav > span > a:hover{

    font-weight: bold;

}

#navBox > nav > span > #currentPlace{

    border-bottom: solid 2px white;

}

#navBox > nav > span{

    padding: 12px 0px;
    border-radius: 7px;

}

main{

    max-width: 600px;
    margin: auto;
    padding: 20px;

}

main > table{

    margin: auto;
    margin-top: 20px;

    border-collapse: collapse;
    background-color: white;

    border-radius: 10px;

}

.imageCell{

    padding: 0px;
    border-bottom: hidden;

}

.imageCell > img{

    height: 30px;
    margin: 5px 0px 0px 0px;
    padding: 0;

}

td, th{

    border: solid 1px #0000004b;
    padding: 10px;

}

.col1{

    border-top: hidden;
    border-left: hidden;

}

.col2{

    border-top: hidden;

}

.col3{

    border-top: hidden;

}

.col4{

    border-top: hidden;
    border-right: hidden;

}