*{
    margin: auto 0;
    padding: auto 0;
    box-sizing: border-box;
}

body{
    font-family: 'Geologica', sans-serif;
    background-image: linear-gradient(to bottom, #ff5400, #ff8a05);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

h1{
    color: #ff5400;
    font-size: 26px;
}

div.caixaFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

div.flexTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-top: 5vh;
}

section.tituloPlanos{
    padding: 25px;
    border-radius: 15px;
    background-color: white;

}


div.caixaPlanos{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70vh;
    width: 85vw;
}

div.caixaPlanos p{
    color: #ff5400;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    font-size: 13px;
}

div.caixaPlanos img{
    height: 220px;
    width: 200px;
}


section.caixa1{
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    background-color: white;
    margin: 10px ;
    border-radius: 10px;
    border: 3px solid transparent;
}
section.caixa1:hover{
    transition: 1s all;
    border: 3px solid black;
}

section.caixa2{
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    background-color: white;
    margin: 10px ;
    border-radius: 10px;
    border: 3px solid transparent;
}
section.caixa2:hover{
    transition: 1s all;
    border: 3px solid black;
}

section.caixa3{
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    background-color: white; 
    margin: 10px ;
    border-radius: 10px;
    border: 3px solid transparent;
}
section.caixa3:hover{
    transition: 1s all;
    border: 3px solid black;
}

section.caixa4{
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    background-color: white;
    margin: 10px ;
    border-radius: 10px;
    border: 3px solid transparent;
}
section.caixa4:hover{
    transition: 1s all;
    border: 3px solid black;
}

section.botaoPlanos{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

section.botaoPlanos input{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 98%;
    width: 98%;
    background-color: #ff5400;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

section.botaoPlanos input:hover{
    transition: 0.5s all;
    height: 100%;
    width: 100%;
}